html,body{

    background-color: #0074d9;

}

.col{

    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    background-color:#fff;
    height: 300px;
    width: 300px;
    display: flex;
    
}

.contenu{

    padding: 2%;
    margin: auto;

}


.row{

    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

a{
    margin: 5px;
    transition: 0.4s;
}

a:hover{
    scale: 1.02;
}