.blocform {
    background-color: silver;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 400px;
    display : flex;
}

.form{
    width: 300px;
    margin: auto;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #FFF;
}

textarea{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 0;
    border-bottom: 3px solid #FFF;
}

#btn-submit{
    width: 100%;
}

#title{
    font-weight: bold;
}
