/* html,body{

    background-color: #ccc;

} */

body{
    
    background-image:url(../images/cover.jpg);
    background-size: cover;
    background-position: 100% 9%;
    padding: 0;
    margin: 0;

}

.blocform {

    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.4);
    border-style: solid;
    border-color:#0074d9;
    background-color:#fff;
    border-width: 2em;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 400px;
    display : flex;

}

.form{

    margin: auto;

}

input {

    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-style: solid;
    border-color: #0074d9;
    border-width: 0.4em;
    font-size: 16px !important; 
    text-align: center;
    background-color: #ddd;

}

button{

    background-color: #0074d9;

}

p{

    text-align: center;
    font-weight: 900;
    font-size: 24px;

}
