*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    padding-top: 10%;
}

nav{
    margin-top: -10%;
    background-color: #0074d9;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 99999 !important;
    
}

#logo{
    color : white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}

nav ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

.lien{
    color: #fff;
    background: none;
}

.lien:hover{
    color:#8dcaff;
    text-decoration: none;
}

.checkbtn{
    font-size: 30px;
    float: right;
    display: none;
    line-height: 80px;
    color: #fff;
}

#check{
    display: none;
}

@media (max-width: 991px){

    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 10px 0;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover{
        background: none;
    }

    #check:checked ~ ul{
        left: 0;
    }
    
}

.td{
    font-size: 18px;
    font-weight: bold;
}